<div class="container">
  <% @cards.each do |card| %>
    <div class="form">
    <form method="post" action="/users/<%=@id%>/decks/<%=@deck.id%>">
      <p><strong>Question <%=card.id%>.<br> <%= card.question %></strong></p><br>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="true" checked> True<br>
  		</div>
  		<div class="radio">
  			<input type="radio" name="answer<%=card.id%>" value="false"> False
  		</div>

    </div>
  <% end %>
  <div class="login">
  	<p><input class="submit" type="submit" value="Submit"></p>
  </div>
  	</div>
	</form>
  
</div>
